In [ ]:
from sqlalchemy import create_engine, MetaData

# Replace 'username', 'password', 'localhost', and 'database_name' with your actual MySQL credentials
username = 'root'  # Replace with your MySQL username
password = 'core'      # Replace with your MySQL password
hostname = 'localhost'
database_name = 'classicmodels'  # Replace with your MySQL database name

# MySQL connection string format:
# dialect+driver://username:password@host:port/database
# For XAMPP default MySQL setup, the port is usually 3306
connection_str = f'mysql+pymysql://{username}:{password}@{hostname}/{database_name}'

# Create the SQLAlchemy engine
engine = create_engine(connection_str)

# Test the connection
try:
    engine.connect()
    print("Connection to MySQL database successful!")
except Exception as e:
    print(f"Error connecting to MySQL database: {e}")

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(engine)
print(insp.get_table_names())